<footer>

    <nav>

        <ul>
            <li> <a href="{{ path('accueil') }}">Accueil</a></li>
            <li> <a href="{{ path('articles', { 'id': 1 }) }}">Article 1</a></li>
            <li> <a href="{{ path('articles', { 'id': 2 }) }}">Article 2</a></li>

        </ul>

    </nav>

</footer>

</body>
</html>