{% include 'common/_header.html.twig' %}

    <main>
        {% if article.published %}
            <article>
                <img src="{{ article.image }}" alt="{{ article.title }}">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>

            </article>
        {% else %}
            <p>L'article demandé n'est pas en ligne</p>
        {% endif %}

    </main>


{% include 'common/_footer.html.twig' %}